In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
#load the dataset
df = pd.read_csv('OnlineRetail.csv', encoding='ISO-8859-1')

In [9]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [10]:
# 1.What is the unique count of the invoice numbers:
unique_invoices = df['InvoiceNo'].nunique()
print(f"Unique count of invoice numbers: {unique_invoices}")

Unique count of invoice numbers: 25900

In [18]:
# 2.How many people bought “PARTY BUNTING”.:
df[df['Description'] == 'PARTY BUNTING'].count()

InvoiceNo      1727
StockCode      1727
Description    1727
Quantity       1727
InvoiceDate    1727
UnitPrice      1727
CustomerID     1416
Country        1727
dtype: int64

In [21]:
df[df['Description'] == 'WHITE HANGING HEART T-LIGHT HOLDER'].count()

InvoiceNo      2369
StockCode      2369
Description    2369
Quantity       2369
InvoiceDate    2369
UnitPrice      2369
CustomerID     2070
Country        2369
dtype: int64

In [22]:
df[df['Country'] == 'United Kingdom'].count()

InvoiceNo      495478
StockCode      495478
Description    494024
Quantity       495478
InvoiceDate    495478
UnitPrice      495478
CustomerID     361878
Country        495478
dtype: int64

In [25]:
#4.how many unique people are from “UNITED KINGDOM”.
df[df['Country'] == 'United Kingdom']['CustomerID'].count()

361878

In [27]:
df.sample(1)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
163264,550541,21454,PAINTED PINK RABBIT,1,4/19/2011 11:33,0.83,NaN,United Kingdom

In [29]:
# which customer has done the highest number of transactions

df['CustomerID'].value_counts().head(1)

CustomerID
17841.0    7983
Name: count, dtype: int64

In [30]:
# 5.Which customer(CustomerID) has done highest transaction in the dataset.  
df.groupby('CustomerID')['Quantity'].sum().sort_values(ascending=False).head(1)

CustomerID
14646.0    196719
Name: Quantity, dtype: int64